<% if line_item == @current_item %>
  <tr id="current_item">
<% else %>
  <tr>
<% end %>
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>

  <%# I needed to remove this because this is being used for emails, and was
   causing a Protect from Forgery error.%>
  <%# <td><%= button_to '-',
                    {:action => "decrement_quantity", :controller => line_items_path, :id => line_item.id},
                    :remote => true %>%>
  <%#</td> %>
</tr>
